name: Renovate
permissions:
  actions: read
  checks: read
  contents: write
  deployments: read
  pull-requests: write
  statuses: read
on:
  schedule:
    # string has to be quoted. This should be every hour.
    - cron: '0 * * * *'
  push:
    branches:
      - main
    paths:
      - ".github/renovate-config.json"
      - ".github/workflows/renovate.yml"
      - "renovate.json"
      - "scripts/**"
jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Get token
        id: get_token
        uses: actions/create-github-app-token@v1
        with:
          private-key: ${{ secrets.PRIVATE_KEY }}
          app-id: ${{ secrets.APP_ID }}
          owner: ${{ github.repository_owner }}
          repositories: 'matrix-sliding-sync-chart'

      - name: Checkout
        uses: actions/checkout@v4.1.7

      - name: Self-hosted Renovate
        uses: renovatebot/github-action@v40.1.12
        with:
          token: '${{ steps.get_token.outputs.token }}'
          configurationFile: .github/renovate-config.json
        env:
          LOG_LEVEL: 'debug'
